.container {
  width: 85%;
  margin: auto;
}
.content {
  width: 100%;
}

h1 {
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
    color: rgb(65, 65, 65);
}

.badge button {
  display: flex; 
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
  width: 20%;
}

p {
  text-align: end;
  font-weight: 600;
  color: rgb(90, 90, 90);
  padding-bottom: 0;
}

mat-card {
  margin-top: 0.8rem;
  padding: 0.2rem;
}
